*{
    color: white;
    /*overflow-x: hidden;*/
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
a{
    color: white;
}
p{
    margin: 0;
}
body{
    width: 100vw;
}
.container{
    max-width: 1200px;
}
.col-auto{
    padding: 0;
}
header{
    font-size: 1vw;
    background-color: #051933;
    text-transform: uppercase;
    font-weight: bold;
}
#nav{
    padding-top: 2.8vw;
}
#navDentro{
    height: 4.3vw;    
}
#imgLogo{
    width: 7.422vw;
}
#pesquisar{
    border: solid 1px rgba(255,255,255,.5);
    border-radius: 5px;
    height: 100%;
}
input{
    all: unset;
    width: auto;
}
#nav2{
    background-color: #093366;
    margin-top: 2.3vw;
}
#nav2dentro{
    padding-top: 2.3vw;
    padding-bottom: 2.3vw;
}
#bannerTitulo{
    background-color:#051933;
    height: 42.500vw;
    background-image: url(./media/luz-topo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 45%;
}
.tituloVerde{
    color: #00c86f;
    font-size: 3.438vw;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.roboto{
    font-family: "Roboto Mono","Courier New",monospace;
    font-size: 1.5vw;
}
#devGame{
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 9px 0 rgb(101 103 122 / 10%);
    border-right: solid 1px #e8eef4;
    border-left: solid 1px #e8eef4;
    margin: 3vw 3.125vw 0;
    padding: 0 3vw 4vw;
}
#varios p{
    color: #167bf7;
    width: auto;
    padding: 0;
    margin: 0 0.781vw 0.781vw 0;
}
#devCards p{
    display: inline;
}
.devCard{
    box-shadow: 0 10px 10px rgb(126 126 126 / 10%);
    border: solid 1px #ecf5ff;
    background-color: #fff;
    border-radius: 4px;
    font-size: 0.938vw;
    padding: 0.7vw;
    margin-top: 2.344vw;
    height: 85%;
}
.azul{
    color: #093366;
    font-weight: 600;
}
.cinza{
    color: #bbc9da;
    font-weight: 600;
}
#formProg{
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 9px 0 rgb(101 103 122 / 10%);
    border-right: solid 1px #e8eef4;
    border-left: solid 1px #e8eef4;
    padding: 0 2vw 0;
    margin: 4vw 3vw 2vw;
}
#formProg .col p{
    color: #093366;
    font-weight: bold;
    font-size: 1vw;
}
.verdinho{
    color: #00c86f;
    font-size: 1.250vw;
}
#formProg .row .col{
    padding: 0.5vw;
    border: 1px solid #ecf5ff;
    width: 19%;
    margin-bottom: 1vw;
}
#gamesStart{
    background-image: url(./media/luz-topo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 45%;
    padding-top: 14.5vw;
    background-color: #051933;
}
#blocoEsq{
    height: 5.313vw;
    width: 100%;
    background: #fff;
    z-index: 999;
    top: -17vw;
    border-bottom-left-radius: 0.333em;
    border-bottom-right-radius: 0.333em;
    left: 0;
    position: absolute;
}
.traço{
    width: 6.641vw;
    height: 0.781vw;
    margin: 2vw 0;
}
.textoJogos{
    margin: 1.875vw 0;
}
.textoJogos p{
    color: #e5f1ff;
    line-height: 2;
    text-align: justify;
    font-size: 1.094vw;
    margin: 0.859vw 0 1.719vw;
}